/* for the entire HTML pages */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
/* adds back ground color to body */
body{
    background-color: black;
}
/* to postion the score, timer and quiz sections */
.quiz, .score {
    margin: 10px auto 0 auto;
    max-width:700px;
    text-align: center;
}
/*  this adds stulying to the quiz section in main */
.quiz {
    --borderWidth: 10px;
    border: black;
    border-radius: var(--borderWidth);
    border-style: solid;
    box-shadow: 0 20px 35px rgba(0, 0, 0,0.3);
    padding: 5%;
    background: #1D1F20;
    color: white;
    position: relative;
}

/*  this adds a background taht will have rgb colors animited to created a movingline around the box */
.quiz::before{
content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg,  
  #fd004c,
  #fe9000,
  #fff020,
  #3edf4b,
  #3363ff,
  #b102b7,
  #fd004c);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
/* this is the animation  */
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* adding padding to the whole all the sections*/
.container {
    padding: 10px;
}
/* To sepearate the scores and timer elements*/
header {
    display:flex;
    justify-content: space-evenly;
    margin: 25px;
}
/* for timer */
.timer {
font-size: larger;
color: white;
}
/* For the first thing the user sees */
.front-page{
    text-align: center;
    font-size: 170%;
}
/* For all the buttons on the page */
button{
    border:none;
    display: inline-block;
    cursor:pointer;
    color: white;
    background-color: magenta;
    border-radius: 5px;
    font-size: 120%;
    text-align: center;
    padding:20px;
}
/* to make the button elements hover */
button:hover {
    background-color: #6159d1;
}
/* For user input font to be larger */
 input[type="text"] {
    font-size: large;
}
/* for the answer choices */
.options {
    margin-top: 10%;
} 
/* anwer choices button */
.options button{
    display: block;
    padding: 15px;
    margin-top: 25px;
}
/* To hide the questions and the ending of the quiz before the start of the quiz */
.hide{
    display:none;
}
/* to make elements visible when susing javascript */
.visible {
    visibility:visible;
}
/* the try again button on leaderboard HTML page */
.trybtn{
    margin-bottom: 25px;
}
/* for the feedback on whether the answer picked in wrong or right */
.feed-back{
    color: cyan ;
    border-bottom: 5px solid cyan;
    padding-bottom: 3px;
    margin-top: 20px;
    padding-top: 20px;
    font-style: italic;
    font-size: 200%;
    position: absolute;
    left: 42%;
    top: 95%;
}
  /* for the highscores in the leaderbord page */
ol {
    padding: 50px;
    margin: 10px;
    max-height: 400px;
    overflow: auto;
}
/* for each highscore list */
li {
    padding: 10px;
    list-style: decimal inside none;
}

/* Media query for adjusting size smaller screens */
@media screen and (max-width: 768px) {
    .container {
        width: 70%;
    }
}
/* Media query for adjusting size larger screens */
@media screen and (max-width: 992px) {
    .container {
        width:95%;
    }
}