/* for the entire HTML pages */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* to postion the score, timer and quiz sections */
.quiz, .score {
    margin: 10px auto 0 auto;
    max-width:700px;
    text-align: center;
}
 
.container {
    padding: 10px;
}
/* To sepearate the scores and timer elements*/
header {
    display:flex;
    justify-content: space-evenly;
    margin: 25px;
}
/* for timer */
.timer {
font-size: larger;

}
/* For the first thing the user sees */
.front-page{
    text-align: center;
    font-size: 170%;
}
/* For all the buttons on the page */
button{
    border:none;
    display: inline-block;
    cursor:pointer;
    color: white;
    background-color: #0d00c0 ;
    border-radius: 5px;
    font-size: 120%;
    text-align: center;
    padding:20px;
}
/* to make the button elements hover */
button:hover {
    background-color: #6159d1;
}
/* For user input font to be larger */
 input[type="text"] {
    font-size: large;
}
.options {
    margin-top: 10%;
} 
.options button{
    display: block;
    padding: 15px;
    margin-top: 25px;
}
/* To hide the questions and the ending of the quiz before the start of the quiz */
.hide{
    display:none;
}
/* to make elements visible when susing javascript */
.visible {
    visibility:visible;
}
/* the try again button on leaderboard HTML page */
.trybtn{
    margin-bottom: 25px;
}
/* for the feedback on whether the answer picked in wrong or right */
.feed-back{
    color: rgb(6, 108, 192)  ;
    border-bottom: 5px solid rgb(6, 108, 192);
    padding-bottom: 3px;
    margin-top: 20px;
    padding-top: 17px;
    font-style: italic;
    font-size: 200%;
    position: absolute;
    left: 35%;
}
  /* for th highscores in the leaderbord page */
ol {
    padding: 50px;
    margin: 10px;
    max-height: 400px;
    overflow: auto;
}
 
li {
    padding: 10px;
    list-style: decimal inside none;
}

/* Media query for adjusting size smaller screens */
@media screen and (max-width: 768px) {
    .container {
        width: 70%;
    }
}
/* Media query for adjusting size larger screens */
@media screen and (max-width: 992px) {
    .container {
        width:95%;
    }
}